.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 5px;
}

input {
  width: 500px;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

select {
  width: 500px;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

button {
  width: 500px;
  padding: 5px;
  border-radius: 4px;
}
